* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input{
    height: 2.2rem;
    width: 75%;
    border: 1px solid black;
    padding:0.2rem;
    transition: all 0.2s;
}

input:focus{
    outline: none;
    border:1px solid #2b8a3e;
   transform: scale(1.1);
}

.bg{
    margin-top: 3rem;
    height: 40%;
}

.add-btn{
       display: block;
       background-color: #0ca678;
       border: 1px solid #2b8a3e;
       color: white;
        height: 2.2rem;
       font-weight: 600;
       padding: 0.5rem 1.4rem;
       border-radius: 5px;  
       margin-top: 1rem;  
}    
.warning{
    color: green;
    text-align: center;
     margin-top: 1rem;
}
@media (max-width:48em){
    .bg{
        margin-top: 0;
    }
}

@media (max-width:35.5em){
    input{
        height:1.6rem;
        display: block;
    }
    .add-btn{
        height: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top:0.3rem;
        display: inline-block;
    }
    input:focus{
        transform: scale(1);
    }
    .warning{
        display: inline-block;
        margin-left: 1rem;
        text-align: center;
    }
}